h1 {color: #070EF2;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;}
font-family {"Garamond", Times, serif;}
.destacado{
	color: red;
}
strong{
	font-weight: normal;
}
p{
	color: orange;
	font-size: 24px;
}
div {
	background-color: lightgrey;
	width: 600px;
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}
