h1 {color: #070EF2;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;}
body {
font-family "Garamond", Times, serif;
}
.destacado{
	color: blue;
}
strong{
	font-weight: normal;
}
p{
	color: blue;
	font-size: 24px;
}
img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); 
}